
#menu_top{
    background-color: #4169E1;
    margin: 0px;

}
#map{
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}